In [1]:
import pandas as pd
from pylab import mpl
mpl.rcParams['font.sans-serif'] = ['KaiTi']
file_path=r"E:\数据表格\数据表格\《Python金融实战案例精粹（第2版）》的数据Excel文件\第3章\3.4 案例数据\原油价格.xlsx"
data=pd.read_excel(file_path,sheet_name='Sheet1',index_col='日期')
data

            布伦特原油  西德州中质原油   迪拜原油   全球原油
日期
2000-01-31  25.22    27.24  23.18  25.21
2000-02-29  27.63    29.21  24.62  27.15
2000-03-31  27.47    29.92  25.08  27.49
2000-04-30  22.54    25.78  22.03  23.45
2000-05-31  27.40    28.78  25.51  27.23
...           ...      ...    ...    ...
2021-05-31  68.04    65.23  66.01  66.43
2021-06-30  73.07    71.38  70.96  71.80
2021-07-31  74.39    72.58  72.88  73.28
2021-08-31  70.02    67.73  68.91  68.89
2021-09-30  74.60    71.46  72.24  72.77

[261 rows x 4 columns]

In [2]:
data.index

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31',
               ...
               '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31',
               '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31',
               '2021-08-31', '2021-09-30'],
              dtype='datetime64[ns]', name='日期', length=261, freq=None)

In [3]:
data.columns

Index(['布伦特原油', '西德州中质原油', '迪拜原油', '全球原油'], dtype='object')

In [4]:
data.shape

(261, 4)

In [5]:
data.dtypes

布伦特原油      float64
西德州中质原油    float64
迪拜原油       float64
全球原油       float64
dtype: object

In [9]:
type(data)

pandas.core.frame.DataFrame

In [12]:
data.loc['2003-03-31']

布伦特原油      30.34
西德州中质原油    33.32
迪拜原油       27.42
全球原油       30.36
Name: 2003-03-31 00:00:00, dtype: float64

In [17]:
data.index.get_loc('2003-03-31')

38

In [19]:
data.iloc[38]

布伦特原油      30.34
西德州中质原油    33.32
迪拜原油       27.42
全球原油       30.36
Name: 2003-03-31 00:00:00, dtype: float64

In [25]:
data.loc['2010-10-31':'2011-04-30','布伦特原油']

日期
2010-10-31     82.92
2010-11-30     85.67
2010-12-31     91.80
2011-01-31     96.29
2011-02-28    103.96
2011-03-31    114.44
2011-04-30    123.15
Name: 布伦特原油, dtype: float64

In [26]:
data.iloc[25:33,1:4]

            西德州中质原油   迪拜原油   全球原油
日期
2002-02-28    20.72  18.91  19.98
2002-03-31    24.38  22.85  23.64
2002-04-30    26.24  24.41  25.43
2002-05-31    27.04  24.59  25.69
2002-06-30    25.51  23.83  24.49
2002-07-31    26.92  24.57  25.75
2002-08-31    28.37  25.32  26.78
2002-09-30    29.67  26.83  28.28

In [28]:
data[data['全球原油']<20.0]

            布伦特原油  西德州中质原油   迪拜原油   全球原油
日期
2001-11-30  18.94    19.59  17.53  18.69
2001-12-31  18.60    19.31  17.64  18.52
2002-01-31  19.48    19.69  18.29  19.15
2002-02-28  20.29    20.72  18.91  19.98

In [33]:
data[  
    (data['布伦特原油'] <= 110) &   
    (data['西德州中质原油'] > 100) &   
    (data['迪拜原油'] > 105)  
]

             布伦特原油  西德州中质原油    迪拜原油    全球原油
日期
2013-10-31  109.48   100.50  106.39  105.46
2014-05-31  109.68   102.00  105.51  105.73
2014-07-31  106.98   102.99  105.71  105.22