In [1]:
import pandas as pd
file_path=r"E:\数据表格\数据表格\《Python金融实战案例精粹（第2版）》的数据Excel文件\第3章\3.5 案例数据\金砖五国代表性股指的数据.xlsx"
data=pd.read_excel(file_path,sheet_name='Sheet1',index_col='日期')
data

            IBOVESPA指数    RTS指数  SENSEX30指数    沪深300指数     JSE指数
日期
2021-06-01    128267.1  1614.21    51934.88  5341.6798  68922.86
2021-06-02    129601.4  1643.66    51849.48  5289.9736  69049.04
2021-06-03         NaN  1636.51    52232.43  5255.2855  67791.38
2021-06-04    130125.8  1647.06    52100.05  5282.2772  67825.02
2021-06-07    130776.3  1652.99    52328.51  5277.6271  67575.42
2021-06-08    129787.1  1656.46    52275.57  5232.1165  67644.84
2021-06-09    129906.8  1674.75    51941.64  5236.4493  67681.47
2021-06-10    130076.2  1677.36    52300.47  5271.4661  67542.84
2021-06-11    129441.0  1678.57    52474.76  5224.7030  67723.91
2021-06-14    130208.0  1687.37    52551.53        NaN  67941.48
2021-06-15    130091.1  1665.31    52773.05  5166.5597  67310.57
2021-06-16    129259.5  1679.02    52501.98  5080.4909       NaN
2021-06-17    128057.2  1664.38    52323.33  5101.8924  66585.48
2021-06-18    128405.4  1646.72    52344.45  5102.4657  65635.23
2021-06-21    129265.0  1642.39    52574.46  5090.3854  65563.48
2021-06-22    128767.5  1645.59    52588.71  5122.1583  65551.73
2021-06-23    128428.0  1666.21    52306.08  5147.3938  65819.63
2021-06-24    129513.6  1664.94    52699.00  5155.9738  66263.49
2021-06-25    127255.6  1672.08    52925.04  5239.9684  66215.47

In [3]:
data.isnull()

            IBOVESPA指数  RTS指数  SENSEX30指数  沪深300指数  JSE指数
日期
2021-06-01       False  False       False    False  False
2021-06-02       False  False       False    False  False
2021-06-03        True  False       False    False  False
2021-06-04       False  False       False    False  False
2021-06-07       False  False       False    False  False
2021-06-08       False  False       False    False  False
2021-06-09       False  False       False    False  False
2021-06-10       False  False       False    False  False
2021-06-11       False  False       False    False  False
2021-06-14       False  False       False     True  False
2021-06-15       False  False       False    False  False
2021-06-16       False  False       False    False   True
2021-06-17       False  False       False    False  False
2021-06-18       False  False       False    False  False
2021-06-21       False  False       False    False  False
2021-06-22       False  False       False    False  False
2021-06-23       False  False       False    False  False
2021-06-24       False  False       False    False  False
2021-06-25       False  False       False    False  False

In [5]:
data.isnull().any(axis=0)

IBOVESPA指数     True
RTS指数         False
SENSEX30指数    False
沪深300指数        True
JSE指数          True
dtype: bool

In [6]:
data.isnull().any(axis=1)

日期
2021-06-01    False
2021-06-02    False
2021-06-03     True
2021-06-04    False
2021-06-07    False
2021-06-08    False
2021-06-09    False
2021-06-10    False
2021-06-11    False
2021-06-14     True
2021-06-15    False
2021-06-16     True
2021-06-17    False
2021-06-18    False
2021-06-21    False
2021-06-22    False
2021-06-23    False
2021-06-24    False
2021-06-25    False
dtype: bool

In [10]:
data_new=data.dropna()
data_new

            IBOVESPA指数    RTS指数  SENSEX30指数    沪深300指数     JSE指数
日期
2021-06-01    128267.1  1614.21    51934.88  5341.6798  68922.86
2021-06-02    129601.4  1643.66    51849.48  5289.9736  69049.04
2021-06-04    130125.8  1647.06    52100.05  5282.2772  67825.02
2021-06-07    130776.3  1652.99    52328.51  5277.6271  67575.42
2021-06-08    129787.1  1656.46    52275.57  5232.1165  67644.84
2021-06-09    129906.8  1674.75    51941.64  5236.4493  67681.47
2021-06-10    130076.2  1677.36    52300.47  5271.4661  67542.84
2021-06-11    129441.0  1678.57    52474.76  5224.7030  67723.91
2021-06-15    130091.1  1665.31    52773.05  5166.5597  67310.57
2021-06-17    128057.2  1664.38    52323.33  5101.8924  66585.48
2021-06-18    128405.4  1646.72    52344.45  5102.4657  65635.23
2021-06-21    129265.0  1642.39    52574.46  5090.3854  65563.48
2021-06-22    128767.5  1645.59    52588.71  5122.1583  65551.73
2021-06-23    128428.0  1666.21    52306.08  5147.3938  65819.63
2021-06-24    129513.6  1664.94    52699.00  5155.9738  66263.49
2021-06-25    127255.6  1672.08    52925.04  5239.9684  66215.47

In [8]:
data.dropna(axis=1)

              RTS指数  SENSEX30指数
日期
2021-06-01  1614.21    51934.88
2021-06-02  1643.66    51849.48
2021-06-03  1636.51    52232.43
2021-06-04  1647.06    52100.05
2021-06-07  1652.99    52328.51
2021-06-08  1656.46    52275.57
2021-06-09  1674.75    51941.64
2021-06-10  1677.36    52300.47
2021-06-11  1678.57    52474.76
2021-06-14  1687.37    52551.53
2021-06-15  1665.31    52773.05
2021-06-16  1679.02    52501.98
2021-06-17  1664.38    52323.33
2021-06-18  1646.72    52344.45
2021-06-21  1642.39    52574.46
2021-06-22  1645.59    52588.71
2021-06-23  1666.21    52306.08
2021-06-24  1664.94    52699.00
2021-06-25  1672.08    52925.04

In [14]:
data_new.isnull().any(axis=1)

日期
2021-06-01    False
2021-06-02    False
2021-06-04    False
2021-06-07    False
2021-06-08    False
2021-06-09    False
2021-06-10    False
2021-06-11    False
2021-06-15    False
2021-06-17    False
2021-06-18    False
2021-06-21    False
2021-06-22    False
2021-06-23    False
2021-06-24    False
2021-06-25    False
dtype: bool

In [15]:
data.shape

(19, 5)

In [16]:
data_new.shape

(16, 5)

# 向前补齐法 向后补齐法

In [18]:
data.fillna(method='ffill')

            IBOVESPA指数    RTS指数  SENSEX30指数    沪深300指数     JSE指数
日期
2021-06-01    128267.1  1614.21    51934.88  5341.6798  68922.86
2021-06-02    129601.4  1643.66    51849.48  5289.9736  69049.04
2021-06-03    129601.4  1636.51    52232.43  5255.2855  67791.38
2021-06-04    130125.8  1647.06    52100.05  5282.2772  67825.02
2021-06-07    130776.3  1652.99    52328.51  5277.6271  67575.42
2021-06-08    129787.1  1656.46    52275.57  5232.1165  67644.84
2021-06-09    129906.8  1674.75    51941.64  5236.4493  67681.47
2021-06-10    130076.2  1677.36    52300.47  5271.4661  67542.84
2021-06-11    129441.0  1678.57    52474.76  5224.7030  67723.91
2021-06-14    130208.0  1687.37    52551.53  5224.7030  67941.48
2021-06-15    130091.1  1665.31    52773.05  5166.5597  67310.57
2021-06-16    129259.5  1679.02    52501.98  5080.4909  67310.57
2021-06-17    128057.2  1664.38    52323.33  5101.8924  66585.48
2021-06-18    128405.4  1646.72    52344.45  5102.4657  65635.23
2021-06-21    129265.0  1642.39    52574.46  5090.3854  65563.48
2021-06-22    128767.5  1645.59    52588.71  5122.1583  65551.73
2021-06-23    128428.0  1666.21    52306.08  5147.3938  65819.63
2021-06-24    129513.6  1664.94    52699.00  5155.9738  66263.49
2021-06-25    127255.6  1672.08    52925.04  5239.9684  66215.47

In [19]:
data.fillna(method='bfill')

            IBOVESPA指数    RTS指数  SENSEX30指数    沪深300指数     JSE指数
日期
2021-06-01    128267.1  1614.21    51934.88  5341.6798  68922.86
2021-06-02    129601.4  1643.66    51849.48  5289.9736  69049.04
2021-06-03    130125.8  1636.51    52232.43  5255.2855  67791.38
2021-06-04    130125.8  1647.06    52100.05  5282.2772  67825.02
2021-06-07    130776.3  1652.99    52328.51  5277.6271  67575.42
2021-06-08    129787.1  1656.46    52275.57  5232.1165  67644.84
2021-06-09    129906.8  1674.75    51941.64  5236.4493  67681.47
2021-06-10    130076.2  1677.36    52300.47  5271.4661  67542.84
2021-06-11    129441.0  1678.57    52474.76  5224.7030  67723.91
2021-06-14    130208.0  1687.37    52551.53  5166.5597  67941.48
2021-06-15    130091.1  1665.31    52773.05  5166.5597  67310.57
2021-06-16    129259.5  1679.02    52501.98  5080.4909  66585.48
2021-06-17    128057.2  1664.38    52323.33  5101.8924  66585.48
2021-06-18    128405.4  1646.72    52344.45  5102.4657  65635.23
2021-06-21    129265.0  1642.39    52574.46  5090.3854  65563.48
2021-06-22    128767.5  1645.59    52588.71  5122.1583  65551.73
2021-06-23    128428.0  1666.21    52306.08  5147.3938  65819.63
2021-06-24    129513.6  1664.94    52699.00  5155.9738  66263.49
2021-06-25    127255.6  1672.08    52925.04  5239.9684  66215.47